<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% include 'nav.htm' %}
    <link rel="stylesheet" href="design.css">
    <style>
        body {background-color: rgb(91, 141, 148);}
        p    {color: rgb(0, 0, 0);}
        </style>
    <title>Customer Information</title>
</head>
<body>
    <form action="{{ url_for('addrec') }}" method = "POST">
        <h3>Add an Inventory Record</h3>

        <p>Part Name</p>
        <p><input type="text" name="name"/></p>

        <p>Desc</p>
        <p><input type="text" name="desc"/></p>

        <p>Quantity</p>
        <p><input type="text" name="quantity"/></p>

        <p>Check In Date</p>
        <p><input type="text" name="checkinDate"/></p>

        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>